<div class='login-page'>
  <div class='title'>
    <span class='title-image'><%= image_tag('broccoli-small.png') %></span>
    <h1 class='title-text'>Broccolizer</h1>
  </div>

  <div class='button'>
    <%= link_to 'Entrar', admin_google_oauth2_omniauth_authorize_path %>
  </div>
</div>
