@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

$color-dark: #1E2027;
$default-margin: 5px;

body {
  background-color: lighten($color-dark, 80);
  line-height: 30px;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  height:100%;

  h1, h2 {
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

.login-page {
  margin: 0 auto;

  .title {
    float: left;
    background-color: $color-dark;
    color: white;
    display: block;
    float: left;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 300px;

    .title-image {
      float: left;
      margin: $default-margin;
    }

    .title-text {
      float: left;
      margin: 10px $default-margin;
    }
  }

  .button {
    float: left;
    clear: left;
    background-color: white;
    float: left;
    margin-top: $default-margin;
    width: 300px;
    height: 200px;

    a {
      text-transform: uppercase;
      background-color: $color-dark;
      border: none;
      color: white;
      padding: 15px 32px;
      margin-top: 70px;
      margin-left: 90px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }
  }
}
